th {
  color: #ecf0f3;
}

table {
  border: 2px solid;
  border-collapse: collapse;
}

tr {
  border: 2px solid;
}

td {
  border: 2px solid;
  padding: 20px;
}

/* page title  */
.pg-title {
  text-align: center;
}

/* sub text, right under title */
.pg-sub {
  text-align: center;
}

.docpg-thead {
  background-color: #232729;
}
